<div class='container' >
  <div class='loginForm-add-new-category'>

        <h2>Add New Category</h2>
        <br>
        <%= render partial: "shared/new_group_form", group: @group %>
        <br>
    </div>
</div>