
<div class='container' >
  <div class='loginForm'>

        <h1>Budget App by Amrendra K</h1>

        <img class="splash-image" src="<%= image_path("budget_logo.png") %>" alt="splash_icon"/> <br>


  </div>
</div>