
<div class='container' >
  <div class='loginForm-home'>
    <h4>Budget App by Amrendra K</h4>
    <img class="splash-image" src="<%= image_path("budget_logo.png") %>" alt="splash_icon"/> <br>
    <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
    <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
  </div>
</div>