
<div class='category-item-transaction'>
    <div class='category-name-icon'>
        <div><b><%= group.name %></b></div>
        <div><%= group.icon  %></div>
    </div>
    <div class='category-transaction'>
       <div> Total Amounts: </div>
       <div>$<%= group.sum_total %> </div>
    </div>
</div>