/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;

  /* margin: 0; */
  text-decoration: none;
}

*:focus {
  outline: none;
}

body {
  background-color: #f6f5f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 10px;
  border: 1px solid #2d2d2d;
  justify-content: center;
  align-items: center;
}

.splash-image {
  height: 250px;
  width: 250px;
}

.splash-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-list > li {
  width: 500px;
  display: flex;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px rgb(0, 0, 0) groove;
  border-radius: 3px;
}

.category-item {
  width: 450px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.category-name-icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.category-transaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.title-transaction {
  font-size: large;
  font-weight: bold;
  width: 450px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-transaction {
  margin-top: 3px;
  width: 450px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-amount {
  text-align: right;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 10px;
  border: 1px solid #2d2d2d;
  justify-content: center;
  align-items: center;
}

.form-new-transaction {
  align-items: center;
}

.add-button {
  padding: 3px;
}
