<div class='container' >
  <div class='loginForm'>

    <h1>Transactions Lists#index</h1>

    <% @group.each do |group| %>
        <b><%= render partial: "shared/group", locals: { group: group } %></b>
        <span>Item name</span>
        <span>Amount</span>
        <% group.transactions.order("created_at DESC").each do |t| %>
            <div class="transaction">
              <%= t.name %>
              <%= t.amount %>
            </div>
          <% end %>
        
        <%= button_to link_to "New Transaction", new_group_transaction_path(group) %>

    <% end %>
  </div>
</div>